@{
    ViewData["Title"] = "Students Index";
}
@model List<GetStudentVM>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Öğrenciler</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Öğrenci</th>
                                <th>Doğum Tarihi</th>
                                <th>Email</th>
                                <th>Kurs</th>
                                <th>Kayıt Ücreti</th>
                                <th>Eğitim Durumu</th>
                                <th>Durum</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in Model)
                            {
                                <tr>
                                    <td>@student.FullName</td>
                                    <td>@student.Birthdate</td>
                                    <td>@student.Email</td>
                                    
                                    <td>@student.CourseName</td>
                                    <td>@student.RegisterPrice</td>
                                    <td>@student.StudentStatus</td>
                                    <td>@student.Status</td>
                                    <td>@student.CreatedDate</td>
                                    <td>@student.UpdatedDate</td>
                                    <td>
                                        <a asp-action="UpdateStudent" asp-route-id="@student.Id" class="btn btn-outline-success">Güncelle</a>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@student.Id">
                                            Sil
                                        </button>
                                        <div class="modal fade" id="exampleModal-@student.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Silmne Uyarısı</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body me-auto">
                                                        Silmek istediğinize emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-action="DeleteStudent" asp-route-id="@student.Id" class="btn btn-outline-danger">Evet</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="CreateStudent" class="btn btn-outline-dark d-block">Yeni Öğrenci Ekle</a>
            </div>
        </div>
    </div>
</div>